
.card {
    color: white;
    width: 220px;
    height: 230px;
    background-color: #365b77be;
    box-shadow: 7px 7px 15px #191919,
                 7px 7px 15px #292929;
    padding: 10px;
    margin: 21px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 17px;
    opacity: 0.9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  .card:hover {
    /* border-bottom-right-radius: 60px;
    border-top-left-radius: 60px; */
    transform: scale(1.05);
  }
    
  
  .countryImage{
      
      border-radius: 10px;
      align-items: center;
      flex: center;
  }
  